<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doc.format.mapper.FormatTaskMapper">
    <!-- 文档格式化任务查询 -->
    <select id="getList" resultType="com.doc.format.vo.FormatTaskListVo"
            parameterType="com.doc.format.bo.FormatTaskQueryBo">
        SELECT id,
               user_id,
               original_file,
               parsed_json,
               formatted_file,
               deepseek_token,
               task_status,
               creator,
               updater,
               create_time,
               update_time,
               deleted,
               original_url,
               formatted_url
        FROM format_task
        <where>
            deleted = 0
            <if test="queryBo.id != null">
                and id =
                    #{queryBo.id}
            </if>
            <if test="queryBo.userId != null">
                and user_id =
                    #{queryBo.userId}
            </if>
            <if test="queryBo.originalFile != null and queryBo.originalFile != ''">
                <bind name="originalFileLikeValue"
                      value="'%' + queryBo.originalFile + '%'"/>
                and original_file like
                    #{originalFileLikeValue}
            </if>
            <if test="queryBo.parsedJson != null and queryBo.parsedJson != ''">
                <bind name="parsedJsonLikeValue"
                      value="'%' + queryBo.parsedJson + '%'"/>
                and parsed_json like
                    #{parsedJsonLikeValue}
            </if>
            <if test="queryBo.formattedFile != null and queryBo.formattedFile != ''">
                <bind name="formattedFileLikeValue"
                      value="'%' + queryBo.formattedFile + '%'"/>
                and formatted_file like
                    #{formattedFileLikeValue}
            </if>
            <if test="queryBo.deepseekToken != null">
                and deepseek_token =
                    #{queryBo.deepseekToken}
            </if>
            <if test="queryBo.taskStatus != null">
                and task_status =
                    #{queryBo.taskStatus}
            </if>
            <if test="queryBo.creator != null and queryBo.creator != ''">
                <bind name="creatorLikeValue"
                      value="'%' + queryBo.creator + '%'"/>
                and creator like
                    #{creatorLikeValue}
            </if>
            <if test="queryBo.updater != null and queryBo.updater != ''">
                <bind name="updaterLikeValue"
                      value="'%' + queryBo.updater + '%'"/>
                and updater like
                    #{updaterLikeValue}
            </if>
            <if test="queryBo.createTime != null">
                and create_time =
                    #{queryBo.createTime}
            </if>
            <if test="queryBo.updateTime != null">
                and update_time =
                    #{queryBo.updateTime}
            </if>
        </where>
        order by id desc
    </select>
        <select id="getCount" resultType="java.lang.Integer"
            parameterType="com.doc.format.bo.FormatTaskQueryBo">
        SELECT COUNT(*)
        FROM format_task
        <where>
            deleted = 0
            <if test="queryBo.id != null">
                and id =
                    #{queryBo.id}
            </if>
            <if test="queryBo.userId != null">
                and user_id =
                    #{queryBo.userId}
            </if>
            <if test="queryBo.originalFile != null and queryBo.originalFile != ''">
                <bind name="originalFileLikeValue"
                      value="'%' + queryBo.originalFile + '%'"/>
                and original_file like
                    #{originalFileLikeValue}
            </if>
            <if test="queryBo.parsedJson != null and queryBo.parsedJson != ''">
                <bind name="parsedJsonLikeValue"
                      value="'%' + queryBo.parsedJson + '%'"/>
                and parsed_json like
                    #{parsedJsonLikeValue}
            </if>
            <if test="queryBo.formattedFile != null and queryBo.formattedFile != ''">
                <bind name="formattedFileLikeValue"
                      value="'%' + queryBo.formattedFile + '%'"/>
                and formatted_file like
                    #{formattedFileLikeValue}
            </if>
            <if test="queryBo.deepseekToken != null">
                and deepseek_token =
                    #{queryBo.deepseekToken}
            </if>
            <if test="queryBo.taskStatus != null">
                and task_status =
                    #{queryBo.taskStatus}
            </if>
            <if test="queryBo.creator != null and queryBo.creator != ''">
                <bind name="creatorLikeValue"
                      value="'%' + queryBo.creator + '%'"/>
                and creator like
                    #{creatorLikeValue}
            </if>
            <if test="queryBo.updater != null and queryBo.updater != ''">
                <bind name="updaterLikeValue"
                      value="'%' + queryBo.updater + '%'"/>
                and updater like
                    #{updaterLikeValue}
            </if>
            <if test="queryBo.createTime != null">
                and create_time =
                    #{queryBo.createTime}
            </if>
            <if test="queryBo.updateTime != null">
                and update_time =
                    #{queryBo.updateTime}
            </if>
        </where>
    </select>
</mapper>